@font-face {
    font-family: 'Helvetica Roman';
    src: url('./assets/fonts/HelveticaNeueLTStd-Roman.otf');
}

@font-face {
    font-family: 'Helvetica Roman Extended';
    src: url('./assets/fonts/HelveticaNeueLTStd-Ex.otf');
}