// Media queries
$laptop: 1350px;
$tablet: 1010px;
$mobile: 480px;

// Curve
$ease: cubic-bezier(.75,0,.25,.99);

// Fonts
$font: 'Helvetica Roman', sans-serif;
$font-ext: 'Helvetica Roman Extended', sans-serif;